html {
    height:100%;
}

body {
  height: 100%;

}

h1 {
  color: blue;
}

/* styling the about elements */
.about {

}

.flex-item {
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
}

/* Gallery Category Stylings */


.galleryitem {
  text-align: center;
  background-color: #f48f42;
  height: 0;
  padding-bottom: 25%;
  width: 25%;
  font-weight: bold;

  border: 2px solid white;
}

a:hover.galleryitem {
  text-decoration: none;
  color: white;
}

.galleryContainer {
  position: relative;
  top: 100px;
  height: 300px;
}

.error {
  color: red;
}

.categorytext {
  height: 100%;
  position: relative;
  top: 40%;
  color: black;
}


/* hero styles */
.navbaritem {
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  width: 100%;

}

.buttongroup{
  height: 100%;

}

a:hover.heroButtons {
  color: #ff3333;
}

.heroButtons {
    text-align: center;
    position: relative;
    top: 35%;
    margin-left: 25px;
    color: white;
    font-weight: bold;
    border: 1px solid white;
}

.topimage {
  background-image: url('../static/TopTen.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

a:hover.topimage {
  border-left:2px solid black;
}

.plusimage {
  background-image: url('../static/add.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/*
a:hover.plusimage {
  border-left: 2px solid black;
}
*/

/* top10 tables*/
.tablebackground{
  background-color: #f48f42;
}

.addcategory {
    color: white;
}

a:hover.addcategory {
  text-decoration: none;
  color: black;
}

.blackcolor {
  color: black;
}

.categorystyles{
  background-color: #ff3333;
  text-align: center;
  border: 4px solid black;
}

.categorymaker{
  background-color: #f48f42;
  text-align: center;
  border: 2px solid black;
}

/* upload forms */
.leftpad {
  width: 100%;
}

h2 {
  padding-top: 5px;
}

.textbox {
  width: 80%;
}

.pad {
  padding-top: 10px;
}

.buttonheight {
  padding-bottom: 20px;
}

.titlestyle {
  width: 60%;
}

.uploadbox{
  background-color: #D3D3D3;
  border: 4px solid black;
  text-align: center;
}
