h1 {
  color: blue;
}

#hero-container {
  overflow: auto;
  background-color: #ec971f;
  height: 250px;
  width: 100%;
}

#title {
  padding-top: 100px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: Arial;
}

.loginSignup {
  float:right;
  margin-right: 20px;
  display: inline-block;
  margin-top: 25px;
}

.about {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 250px;
}

.flex-item {
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
}

/* Gallery Category Stylings */

.gallery-categories {
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;
  height: 300px;
}

.galleryitem {
  margin: 2px;
  width: 200px;
  height: 200px;
  text-align: center;
  background-color: red;
}

.galleryContainer {
  height: 300px;
  width: 50%;
}
