html {
    height:100%;
}

body {
  height: 100%;

}

h1 {
  color: blue;
}

/* styling the about elements */
.about {

}

.flex-item {
    width: 300px;
    height: 100px;
    margin: auto;
    text-align: center;
}

/* Gallery Category Stylings */


.galleryitem {
  text-align: center;
  background-color: #42aaf4;
  height: 0;
  padding-bottom: 25%;
  width: 25%;
  border: 2px solid white;
}


.galleryContainer {
  position: relative;
  top: 100px;
  height: 300px;
}

.categorytext {
  height: 100%;
  position: relative;
  top: 40%;
  color: red;
}


/* hero styles */
.navbaritem {
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 100px;
  width: 100%;

}

.buttongroup{
  height: 100%;
}
.heroButtons {
    text-align: center;
    position: relative;
    top: 40%;
    margin-left: 20px;
}

.topimage {
  background-image: url('../static/TopTen.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/* top10 tables*/
.tablebackground{
  background-color: #f48f42;
}

.categorystyles{
  background-color: #ff3333;
  text-align: center;
  border: 4px solid black;
}

.categorymaker{
  background-color: #f48f42;
  text-align: center;
  border: 2px solid black;
}
