<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Home</title>
    <link rel=stylesheet type=text/css href='../static/styles.css') }}>
    <link rel=stylesheet type=text/css href='../static/bootstrap.min.css'>
    <link rel=stylesheet type=text/css href='../static/ink.css'>
    <link re=stylesheet type=text/css href='../static/bulma.css'>
  </head>

<body>
  <div id="hero-container">
    <button type="button" class="btn btn-secondary loginSignup">Login/Logout</button>
    <button type="button" class="btn btn-secondary loginSignup rightButton">Signup</button>
    <h1 id="title">Top10</h1>
  </div>
  <div class="about">
    <p class="flex-item"><b>Create Your Top10s</b></p>
    <p class="flex-item"><b>Compare your Top10s</b></p>
    <p class="flex-item"><b>Show your Passions</b></p>
  </div>
  <div class="ink-grid galleryContainer">
    <div class="column-group">
      <div class="all-50">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</body>
</html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  var cw = $('all-25').width();
  $('all-25').css({'height':cw+'px'});
</script>
