<!doctype html>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Home</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='ink.css') }}">
    <!--<link re=stylesheet type=text/css href='../static/bulma.css'>-->
  </head>

<body>
    <div class="ink-grid">
        <div class="column-group navbaritem">
                <div class="all-33 buttongroup">
                  <a class="heroButtons">Login</a>
                  <a class="heroButtons">Signup</a>
                </div>
                <a href="/" class="all-33 topimage"></a>
                <div class="all-33 buttongroup">
                  <div class="column-group buttongroup">
                    <div class="all-50 buttongroup"></div>
                      <a class="plusimage all-50 align-right"></a>
                  </div>
                </div>
        </div>
    </div>
  <div class="ink-grid">
    <div class="column-group">
      <p class="all-33"><b>Create Your Top10s</b></p>
      <p class="all-33"><b>Compare your Top10s</b></p>
      <p class="all-33"><b>Show your Passions</b></p>
    </div>
  </div>
  <div class="ink-grid galleryContainer">
        {% block content %}
        {% endblock %}
  </div>
</body>
</html>
