<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Home</title>
    <link rel=stylesheet type=text/css href='../static/styles.css') }}>
    <link rel=stylesheet type=text/css href='../static/bootstrap.min.css'>
  </head>

<body>
  <div id="hero-container">
    <button type="button" class="btn btn-secondary loginSignup">Login/Logout</button>
    <button type="button" class="btn btn-secondary loginSignup rightButton">Signup</button>
    <h1 id="title">Top10</h1>
  </div>
  <div class="about">
    <p class="flex-item"><b>Create Your Top10s</b></p>
    <p class="flex-item"><b>Compare your Top10s</b></p>
    <p class="flex-item"><b>Show your Passions</b></p>
  </div>
  <div class="galleryContainer">
     {% block content %}
     {% endblock %}
   </div>
</body>

</html>
