{% extends 'base.html'%}
{% block content %}
<div class="category">
    <h2>Category Title</h2>
    <div class="column-group">
      {% for list in listsWithItems %}
      <div class="all-33">
        <h4>Created by: {{list[0].list.user_account.name}}</h4>
        <ul style="list-style:none;">
          {% for item in list %}
          <li><b>{{item.position}} - {{item.title}}</b></li>
          <!--{{item.description}}-->
          <!--<li><img src="{{item.img_url}}"><b>{{item.position}} - {{item.title}}</b>: {{item.description}}</li>-->
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
