{% extends 'base.html'%}
{% block content %}
<div class="category">
    <h2 class="categorystyles addcategory">{{ categoryTitle }} &nbsp;&nbsp;&nbsp; <a  class="addcategory" href="{{ url_for('newTopTenList', category_url=categoryUrl) }}">Create a List</a></h2>
    <div class="column-group horizontal-gutters">
      {% for list in listsWithItems %}
      <div class="all-33">
        <h4 class="categorymaker">Created by: {{list[0].list.user_account.name}}</h4>
        <table class="ink-table bordered hover alternating">
          <thead>
            <tr class="tablebackground">
              <th class="align-left">Rank</th>
              <th class="align-left">Title</th>
            </tr>
          </thead>
          <tbody>
            {% for item in list %}
            <tr>
              <td>{{item.position}}</td>
              <td>{{item.title}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}
