{% extends 'base.html' %}
{% block content %}
<br>
<br>
  <div class="column-group">
    <div class="all-25">
      <p class="leftpadd">
    </div>
    <div class="all-50 uploadbox">
      <h2>Item {{position}} in Your {{list.category.name}} List</h2>
      <form action='{{ url_for('newListItem', list_id=list.id) }}' method='post'>
        <div>
          <div>Title</div>
          <input class="titlestyle" type='text' name='title' value='{{title}}' placeholder='Type the Title'></input>
        </div>
        <div>
          <div class="pad">Description</div>
          <textarea class="textbox" name='description' placeholder="Type the Description">{{description}}</textarea>
        </div>
        <br><br><div class="error">{{error}}</div><br>
        <div class="buttonheight">
          <input class="btn btn-success" type='submit' value='Create'>
          <a class="btn btn-danger error" href='{{ url_for('editTopTenList', list_id=list.id) }}'>Cancel</a>
        </div>
      </form>
    </div>
    <div class="all-25">
    </div>
  </div>
{% endblock %}
