<!DOCTYPE html>
<html class=" -webkit-">
       
    <head>
		<title>Rank</title>
		
        <link rel=stylesheet type=text/css href='{{ url_for('static',filename='styles.css')}}'> 
          </head>        
<body>      
                 <div class="login">
            <h1> Welcome to Rank-San</h1>
              <form method="POST">
               <input type="text" placeholder="username" name="username">
              <input type="password" placeholder="password" name="password"> 
	      <input type="submit">
          </form>
               </div>
          </body>
 </html>
  
